.table {
    border-collapse: collapse;
    margin: auto;
}

.table th,
.table td {
    border: 1px solid grey;
    border-radius: 10px;
}

button {
    cursor: pointer;
    border: 1px solid grey;
    background: transparent;
    border-radius: 3px;
}

button.duplicate,
button.delete {
    padding: 8px;
    color: white;
}

button.duplicate {
    background: #126b94;
}

button.delete {
    /*background: #FF2233;*/
    background: rgb(214, 52, 101);
}